// Цвета
$default-color: #7b7b7b; //цвет по умолчанию
$title-color: #191919; //цвет заглавий
$accent-color: #243f4d; //акцентный цвет

// Миксины
%checkbox-hidden {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
}

%abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Шрифты
%DMSans-400 {
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
}

%Rubik-500 {
	font-family: 'Rubik-Medium', sans-serif;
	font-weight: 500;
}

%DMSans-700 {
	font-family: 'DMSans-Bold', sans-serif;
	font-weight: 700;
}

%Rubik-400 {
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 400;
}

%DMSans-500 {
	font-family: 'DMSans-Medium', sans-serif;
	font-weight: 500;
}

%Poppins-700 {
	font-family: 'Poppins-Bold', sans-serif;
	font-weight: 700;
}

%Rubik-300 {
	font-family: 'Rubik-Light', sans-serif;
	font-weight: 300;
}

%Rubik-700 {
	font-family: 'Rubik-Bold', sans-serif;
	font-weight: 700;
}
